@charset "ISO-8859-1";
* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: "Open Sans";
}


/****************************************************/


/*styles pour le conteneur                             */


/****************************************************/

.conteneur {
    margin: 0px;
    padding: 0px;
    width: 100% ;
    font-size : 0px;
}


/****************************************************/


/*styles pour le header                             */


/****************************************************/

header {
    height: 210px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}


/****************************************************/


/*styles pour la zone centrale de la page           */


/****************************************************/

main {
    margin: 0px;
    padding: 0px;
    min-height: 600px;
    background-color: #f0f0f0;
    font-size: 0px;
    margin-top: 200px;
}


/**********************************************************************/


/*styles pour la zone gauche de la zone centrale de la page           */


/**********************************************************************/

.gauche {
    display: inline-block;
    background-color: #fff0f0;
    width: 20%;
    vertical-align: top;
    font-size: 15px;
}


/**********************************************************************/


/*styles pour la zone droite de la zone centrale de la page           */


/**********************************************************************/

.droite {
    display: inline-block;
    width: 80%;
    font-size: 15px;
    vertical-align: top;
}


/****************************************************/


/*styles pour le footer                             */


/****************************************************/

footer {
    background-color: skyblue;
    height: 120px;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

footer p {
    padding: 15px;
    padding-top: 25px;
}


/****************************************************/


/*styles pour le logo de M2L                        */


/****************************************************/

.logo {
    top: 0px;
    left:0px;
    position: absolute;
    font-size: 50px;
    color: white;
    margin-left: 18px;
    margin-top: 18px;
}

/****************************************************/


/*styles pour le bandeau                            */


/****************************************************/

.bandeau {
    height: 180px;
    background: linear-gradient(rgba(0, 0, 150, 0.3), rgba(0, 0, 200, 0.6)), url("../images/header2.jpg");
}


/****************************************************/


/*styles pour le menu principal                     */


/****************************************************/

nav.menuPrincipal {
    background-color: #b3b3b3;
    font-size: 0px;
    text-align: right;
    height: 50px;
    padding: 0px;
    margin: 0px;
}

nav.menuPrincipal ul {
    display: inline-block;
    list-style: none;
}

nav.menuPrincipal ul li {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    font-family: Helvetica;
}

nav.menuPrincipal ul li a {
    display: table-cell;
    text-decoration: none;
    color: white;
    text-align: center;
    vertical-align: middle;
    height: 50px;
    width: 140px;
    -webkit-transition-duration: 0.3s ;
}

nav.menuPrincipal ul li a:hover {
    color: grey;
    -webkit-transition-duration: 0.3s ;
}

nav.menuPrincipal ul li .actif {
    display: table-cell;
    background-color: ivory;
    color: black;
    text-align: center;
    vertical-align: middle;
    height: 50px;
    width: 140px;
}


/****************************************************/


/*styles pour le page d'accueil                     */


/****************************************************/

.texteAccueil {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    font-size: 17px;
}

.texteAccueil h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.texteAccueil p {
    padding-top: 20px;
    text-align: justify;
}

.images {
    text-align: center;
    padding-top: 30px;
}

.images img {
    height: 150px;
    margin: 10px;
    padding-bottom: 100px;
}


/****************************************************/


/*styles pour la zone navigation gauche             */


/****************************************************/

a.anchor {
    display: block;
    position: relative;
    top: -200px;
    visibility: hidden;
}

.sidenav {
    position: fixed;
    top: 200px;
    left: 0px;
}

.sidenav .titreListe {
    color: black;
    padding: 30px;
    font-weight: bold;
    font-size: 22px;
}

.sidenav ul {
    list-style: none;
    padding-left: 40px;
    font-size: 16px;
    line-height: 35px;
}

.sidenav li a {
    text-decoration: none;
    color: grey;
}

.sidenav li a:hover {
    color: blue;
}


/****************************************************/


/*styles pour les rubriques de la zone droite       */


/****************************************************/

.articles {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 150px;
}

.article .titre {
    color: blue;
    padding: 20px;
}

.article .corps {
    background-color: #b2ebf2;
    text-align: justify;
    padding: 15px;
}

.article .corps .col1 {
    display: inline-block;
    width: 28%;
    vertical-align: middle;
}

.article .corps .col2 {
    display: inline-block;
    width: 70%;
    vertical-align: middle;
}

.article .corps .col2 img {
    width: 100%;
}


/****************************************************/


/*styles pour les tableaux de la zone droite        */


/****************************************************/

.article .corps .tab {
    width: 100%;
    font-size: 0.8em;
    border: 1px solid blue;
    text-align: center;
}

.article .corps .tab thead {
    background-color: skyblue;
}

.article .corps .tab .pair {
    background-color: white;
}

.contentConnexion {
    background-color: #f0f0f0;
    font-size: 0px;
    text-align: center;
    vertical-align: middle;
    padding: 150px;
    height: auto;
}

.connexion {
    display: inline-block;
    font-size: 15px;
    width: 400px;
    height: 285px;
    border: 1px solid black;
}

.connexion .titre {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
    background-color: skyblue;
}

.connexion .ligne {
    padding: 15px;
    text-align: center;
}

.connexion .ligne label {
    display: inline-block;
    width: 150px;
    text-align: center;
    padding-right: 10px;
    font-weight: bold;
}

.connexion .ligne input {
    display: inline-block;
    width: 200px;
}

/* Style des input */

input[type=text] , [type=password] {
    width: 200px;
    padding: 5px 5px;
    margin-right: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]{
    font-family: "Open Sans";
    font-weight: bold;
    padding : 5px 10px;
    border-radius: 4px;
    box-sizing: border-box;
    color: white;
    background-color: rgba(0, 0, 150, 0.3);
}

/* Formulaire de recherches de stations */

.contentRecherche {
    font-size: 0px;
    text-align: center;
    vertical-align: middle;
    margin-top: 40px;
}

.contentRecherche input[type=text]{
    width: 260px;
    background-image: url("../images/search-icon.png");
    background-size: 20px 20px;
    background-position: 1px 3px;
    background-repeat: no-repeat;
    padding-left: 24px;
    margin-bottom: 7px;
}


/*logo Vlib */

.vlib{
    border-radius: 50%;
    display : block;
    margin-left: auto;
    margin-right: auto;
}

/* Message bienvenue utilisateur */
.bienvenue{
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: center;
    margin-top: 60px;
    margin-right: 11px;
}

.bienvenue a {
    text-decoration: none;
}

.bienvenue p{
    color: white;
    font-size: 25px;
}

/* Tableau des Stations */

.tabStations{
    margin-top: 40px;
    margin-bottom: 50px;
    font-family: "Open Sans";
}

.tabStations a {
    text-decoration: none;
}

.tabStations table{
    border-collapse: collapse;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.tabStations td , th{
    width: 180px;
    height: 40px;
    border-bottom: 1px solid #ddd;
}

.tabStations th {
    background-color: rgba(0, 0, 150, 0.3);
}
